html {
  box-sizing: border-box;
  font-size: 10px;
  background: #386896;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0;
}

.score-level {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.container {
  width: 100;
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1.5rem;
}

button {
  border: none;
  padding: 1rem;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 32px;
  color: white;
}

.start-btn {
  background-color: forestgreen;
}

.start-btn:hover {
  background-color: rgba(34, 139, 34, 0.7);
}

.start-btn:active {
  background-color: rgba(34, 139, 34, 0.5);
}

.levels {
  background-color: rgb(255, 174, 0);
  margin: 1.5rem;
}

.levels:hover {
  background-color: rgba(255, 174, 0, 0.7);
}

.levels:active {
  background-color: rgba(255, 174, 0, 0.5);
}

.score-board {
  display: flex;
  margin-top: 1rem;
}
.score-data {
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  flex: 1;
  margin: 2rem;
}

.score-line {
  margin: 0;
  font-size: 24px;
  font-weight: bolder;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.score-line > span {
  color: rgb(255, 174, 0);
}

ul {
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

li span {
  font-size: 24px;
  font-weight: bolder;
  padding: 0 1.5rem;
}

.score-headings {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}
