* {
  margin: 0;
  padding: 0;
}
#main {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(241, 244, 245);
  font-family: PT Sans Narrow, sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}
#title {
  font-family: Audiowide, sans-serif;
  font-size: 30px;
}
#first-p {
  font-weight: bold;
  font-size: 24px;
}
#img-div {
  background-color: white;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  padding: 20px;
  width: 90%;
  height: auto;
}
#image {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  padding: 5px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}
#tribute-info {
  margin: 10px auto 0 auto;
  width: 90%;
}
.timeline {
  border-left: 3px solid black;
  max-width: 70%;
  height: auto;
  margin: 10px auto 0 auto;
  padding: 10px;
  text-align: left;
}
.card {
  margin-bottom: 20px;
}
.timeline-img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
.info {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: justify;
}
blockquote {
  margin: 20px 0;
  font-size: 25px;
  font-style: italic;
}
cite {
  font-weight: bold;
}
