* {
  margin: 0;
  padding: 0;
}
#main {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(241, 244, 245);
  font-family: PT Sans Narrow, sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}
#title {
  font-family: Audiowide, sans-serif;
  font-size: 30px;
}
#first-p {
  font-weight: bold;
  font-size: 24px;
}
#img-div {
  background-color: white;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  padding-top: 20px;
  width: 90%;
  height: auto;
}
#image {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  padding: 5px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}
#tribute-info {
  margin: 10px auto 0 auto;
  width: 90%;
}
.timeline {
  border-left: 3px solid black;
  max-width: 80%;
  height: auto;
  margin: 10px auto 0 auto;
  padding: 10px;
  text-align: left;
}
.card {
  margin-bottom: 20px;
}
.timeline-img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
.info {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: justify;
}
blockquote {
  margin: 20px auto;
  font-size: 25px;
  font-style: italic;
  max-width: 95%;
}
cite {
  font-weight: bold;
}
#ending {
  width: 100%;
}
@media (max-width: 500px) {
  #main {
    width: 100%;
    margin: 0px auto;
    font-size: 14px;
    padding: 0;
  }
  #img-div {
    width: 70%;
  }
  #img-caption {
    font-size: 14px;
  }
  blockquote {
    font-size: 14px;
  }
  #ending {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #title {
    padding-top: 10px;
    font-size: 18px;
  }
  #first-p {
    font-size: 16px;
  }
  #timeline-p {
    font-size: 14px;
  }
  #tribute-info {
    width: 100%;
  }
  .timeline {
    max-width: 90%;
    padding-left: 3px;
    border-left: 2px solid black;
  }
}
